#middle section {
	clear: both;
	margin: 0 auto;
	padding: 40px;
	margin-top: 20px;
	text-align: center;
	overflow: hidden;
	width: 980px;
}

#middle section h1 {
	font-size: 48px;
	text-align: center;
	margin: 0;
	font-weight: normal;
}

#middle section h2 {
	font-size: 20px;
	text-align: center;
	color: #666;
	font-weight: normal;
	margin-top: 0;
}

#middle section p {
	text-align: left;
}
