#webian_shell_mockup {
	width: 60rem;
}

#webian_shell_wordmark {
	height: 3.3rem;
}

.mockup {
	width: 60rem;
}

.detail {
	text-align: center;
	display: block;
	width: 40rem;
	margin: 12rem auto;
}

#webian_shell_mockup, #webian_shell_detail {
	float: right;
}

#webian_home_mockup, #webian_home_detail {
	float: left;
}

.section_content {
  height: 39rem;
}

.detail p {
	font-size: 1.6rem;
	color: #666;
	padding: 1rem;
}

a.button {
	width: 15rem;
	display: block;
	background-color: #90bc5c;
	border-radius: 0.5rem;
	color: #fff;
	font-size: 1.4rem;
	padding: 1rem 2rem;
	margin: 0 auto;
	text-transform: uppercase;
}

a.button:hover {
	text-decoration: none;
	background-color: #6d953d;
}

footer {
	clear: both;
}

footer #sitemap {
	width: 36rem;
	margin: 4rem auto;
	overflow: hidden;
	clear: both;
}

footer #sitemap .sitemap_category {
	display: inline;
	float: left;
	width: 12rem;
	color: #4d4d4d;
}

footer #sitemap h3 {
	font-size: 1.6rem;
	margin: 0;
}

footer #sitemap ul {
	margin: 0;
	padding: 0;
}

footer #sitemap li {
	font-size: 1.3rem;
	list-style-type: none;
}

footer #sitemap li a {
	color: #4d4d4d;
}

footer #follow {
	text-align: center;
	font-size: 1.2rem;
}

footer #follow ul {
	list-style-type: none;
	margin: 0.5rem 0;
	padding: 0;
}

footer #follow ul li {
	list-style: none;
	display: inline;
}

footer #follow img {
	width: 3.2rem;
	height: 3.2rem;
}

footer #trademark_disclaimer {
	color: #999;
	clear: both;
	text-align: center;
}

footer #trademark_disclaimer a {
	color: #999;
	text-decoration: underline;
}
