body {
	font-size: 13px;
	font-family: Helvetica, Sans-serif;
	margin: 0;
	background-color: #e6e6e6;
}

a {
	color: #0055d4;
	text-decoration: none;
}

a img {
	border: none;	
}


a:hover {
	text-decoration: underline;	
}

.datestamp {
	color: #999;	
}


#top {
	background-image: url('images/header_bg.png');	
}

header {
	display: block;
	width: 980px;
	height: 120px;
	margin: 0 auto;
}

header #logo {
	padding: 44px 0;	
}

header nav {
	float: right;
	margin-top: 90px;
}

header nav ul {
	display: inline;	
}

header nav ul li {
	display: inline;
	list-style-type: none;
	margin: 5px;
}

header nav ul li a {
	color: #fff;	
}

div#middle {
	width: 980px;
	margin: 0 auto;	
}

#middle section {
	display: block;	
	padding: 10px;
	background-color: #fff;
	border-radius: 5px;
	-moz-border-radius: 5px;
	box-shadow: 0 0 5px #666;
	-moz-box-shadow: 0 0 5px #666;
	-webkit-box-shadow: 0 0 5px #666;
	margin: 10px 0;
}



footer {
	clear: both;
}

footer #follow {
	text-align: center;
}

footer #follow ul {
	list-style-type: none;
	margin: 5px 0;
	padding: 0;
}

footer #follow ul li {
	list-style: none;
	display: inline;
}


footer #sitemap {
	width: 600px;
	margin: 40px auto;
	overflow: hidden;	
}

footer #sitemap .sitemap_category {
	display: inline;
	float: left;
	width: 150px;
	color: #4d4d4d;	
}

footer #sitemap h3 {
	font-size: 16px;
	margin: 0;	
}

footer #sitemap ul {
	margin: 0;
	padding: 0;	
}

footer #sitemap li {
	list-style-type: none;	
}

footer #sitemap li a {
	color: #4d4d4d;	
}

footer #copyright {
	clear: both;
	color: #4d4d4d;
	text-align: center;
}
