body {
	font-size: 13px;
	font-family: Helvetica, Sans;
	margin: 0;	
	background-color: #e6e6e6;
}

a {
	text-decoration: none;	
}


a:hover {
	text-decoration: underline;	
}

#header {
	background-image: url('images/header_bg.png');
	height: 9.23em;	
}

#header img {
	border: none;	
}

#header_content {
	width: 66.15em;
	margin: 0 auto;	
	position: relative;
}

#logo {
	position: absolute;
	top: 3.46em;
}

#main_nav {
	list-style-type: none;
	position: absolute;
	right: 1em;
	font-size: 1em;
	top: 5.38em;
	
}

#main_nav li {
	display: inline;
	padding: 0.5em;
}

#main_nav li a {
	text-decoration: none;	
	color: #fff;
}

#main_nav li a:hover {
	text-decoration: underline;	
}

h2 {
	margin: 0;
	font-size: 1.69em;	
}

h3 {
	margin: 0.5em 0;
	font-size: 1.08em;	
}

#footer {
	width: 66.15em;
	margin: 1em auto;
	text-align: center;	
}

