section {
	width: 75rem;
	margin: 0 auto;
	color: #333;
}

div.section_content {
	width: 75rem;
	padding: 1rem 0;
	font-size: 1.4rem;
}

h2 {
	width: 100%;
	text-align: center;
}

h2 img.title {
	height: 3.3rem;
	margin: 1rem;
}

h2 span.subtitle {
	font-weight: normal;
	display: block;
}

h3 {
	margin-top: 4rem;
  font-weight: normal;
	font-size: 1.8rem;
}

img.mockup {
	width: 75rem;
	box-shadow: 0 0 0.5em black;
}

footer {
	clear: both;
}
