#middle {
	width: 980px;
	margin: 0 auto;
}

#middle section {
	clear: both;
	padding: 40px;
	margin-top: 20px;
	text-align: center;
	overflow: hidden;
}

#middle section h1 {
	font-size: 48px;
	text-align: center;
	margin: 0;
	font-weight: normal;
}

#middle section h2 {
	font-size: 20px;
	text-align: center;
	color: #666;
	font-weight: normal;
	margin-top: 0;
}

#middle section .download_link {
	width: 300px;
	text-align: center;
	margin-top: 20px;
}

#middle section img.cross_platform {
	display: block;
	margin: 10px auto;
}

#middle section .highlight {
	width: 410px;
	float: left;
}

#middle section h3 {
	text-align: left;
}

#middle section p {
	text-align: left;
}

#middle section img.screenshot {
	margin: 10px auto;
}

sup {
	font-size: 20px;
}

.download_link {
	display: block;
	font-size: 20px;
	font-weight: bold;
	color: #fff;
	background-color: #96c262;
	padding: 5px;
	border: solid 2px #aaa;
	border-radius: 10px;
	-moz-border-radius: 10px;
	margin: 0 auto;
	margin-top: 40px;
	background-image: url('../../images/download_button_background.png');
}

.download_link:hover {
	text-decoration: none;
	background-image: none;
}
