#middle #definition {
	clear: both;
	display: block;
	margin: 2rem auto;
	width: 70rem;
	height: 7rem;
	padding: 5rem 0;
}

#middle #definition img {
	height: 6.4rem;
	float: left;
}

#middle #definition p {
	width: 31rem;
	display: block;
	float: left;
	font-size: 2rem;
	padding-left: 1rem;
	margin-top: 0.75rem;
	margin-bottom: 0.75rem;
	color: #666;
}

section {
	clear: both;
}

.section_content {
	height: auto;
}

#mission {
	font-size: 1.6rem;
}

#founder {
	text-align: center;
	font-size: 1.2rem;
}
