#webian_definition {
	display: block;
	height: 4.08em;
	width: 39em;
	margin: 2em auto;
}

#webian {
	font-size: 4.08em;
	font-weight: bold;
	float: left;
	margin: auto 0.2em;
	padding: 0;
}

#definition {
	font-size: 1.38em;
	width: 14em;
	float: left;
	margin: auto;
	padding: 0;
}


#main {
	clear: both;
	width: 63.07em;
	margin: 0 auto;	
	padding: 1.54em;
	background-color: #fff;
	border: solid 1px #dadada;	
}

.illustration {
	text-align: center;
}
