#middle section {
	clear: both;
	margin: 0 auto;
	padding: 40px;
	margin-top: 20px;
	width: 980px;
}

#middle section h1 {
	font-size: 40px;
	font-weight: normal;
	margin-top: 0;
	margin-bottom: 20px;
}
