#definition {
  width: 100%;
  height: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}

#definition img, #definition p {
  float: none;
  margin: 1rem;
  text-align: center;
}

.illustration {
  max-width: 120rem;
  width: calc(100%);
  margin: 4rem 0 0 0;
}
